.header {
  background: rgba(192, 295, 109, 95);
  border-bottom: .25rem solid black;
  text-align: center;
  padding: .5rem;
}

.board {
  border: .25rem solid black;
  background: black;
  width: 300px;
  height: 300px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: .25rem;
  margin: 0 auto;
}